manifest-version = 1

[component]
name = "Amplitude"
version = "1.2.0"
category = "data-collection"
subcategory = "analytics"
description = """
## Overview

The **Amplitude** component by Edgee enables seamless, privacy-aware integration of Amplitude’s product analytics platform directly at the edge.
Your site no longer requires Amplitude's client-side SDK—Edgee handles data collection server-side via WebAssembly, enhancing both performance and data fidelity.

---

## Key Features & Benefits

### Features

- **JSON Event Transmission**: Transmits complete JSON events from Edgee to Amplitude.
- **Multi-Event Support**: Supports `page`, `track`, and `user` event types.
- **Cookie Configuration**: Allows configuration of Amplitude native cookies handling.
- **Native Integration**: Integrates with Amplitude's behavioral analytics and AI automation features.

### Benefits

- **Enhanced Privacy**: By processing events at the edge, sensitive user data is handled closer to the source, reducing exposure.
- **Improved Performance**: Eliminates the need for client-side SDKs, leading to faster page loads and reduced JavaScript execution.
- **Real-Time Insights**: Enables immediate forwarding of user interactions to Amplitude for timely analytics.

---

## Use Cases

- **Real-time product analytics**: Capture accurate behavioral data without compromising performance.
- **Improved marketing attribution**: Mitigate data loss from ad blockers.
- **Performance-first websites**: Maintain optimal Core Web Vitals by offloading analytics to the edge.
- **Consolidated analytics workflows**: Works seamlessly with Amplitude without SDK complexity.

---

Additional resources: [Amplitude Documentation](https://www.amplitude.com/)
"""
documentation = "https://www.edgee.cloud/docs/components/data-collection/amplitude"
repository = "https://github.com/edgee-cloud/amplitude-component"
wit-version = "1.0.0"
icon-path = "amplitude.png"
language = "Rust"

[component.build]
command = "cargo build --target wasm32-wasip2 --release && rm -f amplitude.wasm && cp ./target/wasm32-wasip2/release/amplitude_component.wasm amplitude.wasm"
output_path = "amplitude.wasm"

[component.settings.amplitude_api_key]
title = "API Key"
type = "string"
required = true
description = "The API key for your Amplitude project"
secret = true

[component.settings.amplitude_endpoint]
title = "Endpoint (optional)"
type = "string"
description = """
The Endpoint for your Amplitude project. The default value is https://api2.amplitude.com/2/httpapi
"""
